
<li class="caption-menu">Korisnik</li>


 

    <li>

        <a href="@Url.Action("Index", "Prijemnica")"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Historija prijemnica</span></a>
    </li>


<li>

    <a href="@Url.Action("Dodaj", "Prijemnica")"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dodaj prijemnicu</span></a>
</li>